@import url('https://fonts.googleapis.com/css?family=Russo+One');

* {
  box-sizing:border-box;
}

body {
  margin:0;
  padding:0;
  background: #3f3f3f;
}

.container {
  padding: 0px 40px;
  margin: auto;
}
/*Nav Bar */
.nav {
  background:rgba(255,255,255,0.6);
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  line-height: 45px;
  animation: gravity;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes gravity {
  0% {top: -100px}
  100% {top: 0px}
}

.nav a {
  padding-left: 50px;
  text-decoration: none;
  font-size: 1.75rem;
}

.linkedin {
  color:#0077B5;
}

.github {
  color:#000;
}

.codepen {
  color:#fff;
}

/* Section 1 */
.section1 {
  background: #3f3f3f;
  font-family: 'Russo One', serif;
  font-weight: 100;
  color:#fff;
  font-size: 1.5rem;
  height: 100vh;
  overflow-x:hidden;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
}

.section1 h1 {
  border-bottom: 2px solid #fff;
  width: 100%;
  position: relative;
  animation: slide;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0%{right:-2000px}
  100%{right:0px}
}

.section1 p {
  margin: -20px;
  padding-left: 20px;
  color: #3f3f3f;
  animation: fade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes fade {
  0%{color:#3f3f3f;}
  100%{color:#fff;}
}

.links {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width:100%;
  margin-top: 50px;
}
.links button {
  margin: 5px 20px;
  height: 35px;
  width: 150px;
  font-family: 'Russo One', serif;
  color:#fff;
  background: rgba(63,63,63.1);
  border: 2px solid #fff;
  border-radius: 10px;
}

.links button:hover {
  background:rgba(255,255,255,0.6);
  color: #000;
  cursor: pointer;
}

#btn1 {
  opacity:0;
  animation: fade1;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes fade1 {
  0% {opacity:0;}
  100% {opacity:1}
}

#btn2 {
  opacity:0;
  animation: fade2;
  animation-duration: 2s;
  animation-delay: 3.25s;
  animation-fill-mode: forwards;
}

@keyframes fade2 {
  0% {opacity:0;}
  100% {opacity:1}
}

#btn3 {
  opacity:0;
  animation: fade3;
  animation-duration: 2s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

@keyframes fade3 {
  0% {opacity:0;}
  100% {opacity:1}
}

.section2 {
  background:#333;
  color:#fff;
  border:2px solid red;
  height:25vh;
}

.section3 {
  background:#444;
  color:#fff;
  border:2px solid blue;
  height:25vh;
}

.section4 {
  background:#999;
  color:#fff;
  border:2px solid green;
  height:25vh;
}
